<!-- Komponent odpowiedzialny za wyświetlanie obrazku z assests -->
<div class="bg-img">
  <div id="infoBox">
    <h4 style="text-align: center">Ogłoszenia</h4>
    <img width="296px"
         src="https://media.castorama.pl/media/catalog/product/cache/0/image/777x406/17f82f742ffe127f42dca9de82fb58b1/i/c/ico2_wbijanie_gwoxdzi.jpg">
    <div style="font-size: 18px; padding: 5px"> Poszukiwana osoba na stanowisko konserwatora.
      <div><b>Oferujemy:</b></div>
      <div class="myList" style="position: relative; width: 100%;">
        <ol style="width: 280px; left:7%; position: absolute; list-style: circle">
          <li>atrakcyjne wynagrodzeniee</li>
          <li>wolne czwartki</li>
          <li>kartę multisport</li>
        </ol>
      </div>
      <div style="bottom: 5px; position: absolute">Kontakt: XXX-XXX-XXX</div>
    </div>
  </div>
  <div class="content">
  </div>
</div>
