<!-- Header - Często header stanowi osobny komponent
Wykorzystano https://material.angular.io/components/toolbar/overview -->


<div id="container">
  <div id="naglowek">
    <div id="kontakt">Masz pytania co do stanu lokali lub wysokości czynszu? Skontaktuj się z nami: xxx@email.pl tel.: XXX XXX XXX (pon-pt: 8:00
      - 21:00)
    </div>

    <h3 id="userLoginInfoName" style="position: absolute; top: 30px; left:5px"></h3>
    <h3 id="logoutInfo" style="position: absolute; color: red;top: 70px; left:5px" (click)="myFunc()"></h3>
    <div *ngIf="anonymous==false;">
    <h3 style="position: absolute; top: 70px; left: 100px">Rola: {{appuserroles[0]}}</h3>
    </div>

    <a [routerLink]="['/']" style="color: black"><p class="uppercaseName">osiedle raj</p></a>
    <div id="menuGorne">
      <ul id="listaPoziomaHeader">
        <div *ngIf="anonymous==true;">
        <li><a [routerLink]="['/enrolment']"><span>Dodaj studenta</span></a> </li>
        <li><a [routerLink]="['/login']"><span>Login</span></a> </li>
        </div>
        <div *ngIf="anonymous==false;">
        <li><a [routerLink]="['/students']"><span>lista studentow</span></a> </li>
    <div *ngIf="appuserroles[0]==='ROLE_USER';">
        <li><a [routerLink]="['/addBill']"><span>Dodaj rachunek</span></a> </li>
    </div>
        <li><a [routerLink]="['/allBills']"><span>Lista rachunków</span></a>  </li>

        <li><a href="#"><span>Administracja</span></a>
          <ul class="drugiPoziom">
            <li><a href="#">Elżbieta Bąk</a></li>
            <li><a href="#">Janusz Matejko</a></li>
            <li><a href="#">Adam Małysz</a></li>
          </ul>
        </li>
        <li><a href="#"><span>Zarządzaj</span></a>
          <ul class="drugiPoziom">
            <li><a href="#">Lokale</a></li>
            <li><a href="#">Mieszkańcy</a></li>
            <li><a href="#">Rachunki</a></li>
          </ul>
        </li>
        </div>
      </ul>

    </div>
  </div>
</div><!-- naglowek -->

<!-- Dzięki router-outlet na podstawie deklaracji z app-routing.module.ts
   podstawiane są komponenty -->
<router-outlet></router-outlet>

<!-- Footer - Często footer stanowi osobny komponent -->
<footer>
  <!-- Znak &nbsp; oznacza dla HTML spacje -->
  &nbsp; Projekt ma na celu pokazanie podstawowych funkcjonalności Angulara.
</footer>
